[Unit]
Description=Stage1st client for cleaner view
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
# Modify the path below
WorkingDirectory=/home/chenx/s1-pure
ExecStart=/home/chenx/s1-pure/services/start.sh

[Install]
WantedBy=multi-user.target